@import "mocha.css";
/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
    font-family: "Fira Sans semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    border: none;
    border-radius: 0px;
}
 

window#waybar {
    background-color: rgba(0,0,0,0);
    border-bottom: 0px solid #ffffff;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  background-color: @surface1;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

tooltip {
  background-color: @surface0;
  border-radius: 1rem 1rem 1rem 1rem
}

tooltip label {
  color: @lavender;
}

#custom-osicon,
#custom-kitty,
#custom-github,
#custom-icloud,
#custom-whatsapp,
#custom-telegram,
#window
#custom-files,
#custom-chatgpt {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#custom-whatsapp {
  color: @green;
}

#custom-telegram {
  color: @blue;
}

#window {
  border-top-right-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
  color: @teal;
  margin: 5px 0;
  padding: 0 1rem;
  background-color: @surface1;
}

#custom-osicon {
  color: @teal;
}

#custom-kitty {
  color: @maroon;
}

#custom-files {
  color: @flamingo;
  background-color: @surface0;
  margin: 5px 0;
}

#custom-github {
  background-color: @surface0;
  color: @peach;
}

#custom-icloud {
  color: @blue;
}

#custom-empty {
  border-top-right-radius: 100% 50%;
  border-bottom-right-radius: 100% 50%;
  background-color: @surface0;
}

#custom-chatgpt {
  padding: 0.5rem 1rem;
  margin: 5px 0;
  background-color: @surface0;
  color: @green;
}


#custom-placeholder {
  background-color: @surface1;
  padding: 0.5rem 1rem;
  margin: 5px 0;
  border-radius: 1rem 0px 0px 1rem;
  color: @peach;
}

#clock,
#network,
#battery,
#bluetooth,
#custom-updates,
#pulseaudio {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: @blue;
}

#custom-updates {
  color: @mauve;
}

#network {
  color: @lavender;
}

#battery {
  color: @yellow;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}
#bluetooth {
  color: @sapphire;
}
#pulseaudio {
  color: @teal;
}

